@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo</h1>
    <p>Sistema de revenda de veículos</p>
</div>

<div class="col-12 text-center">
    <a class="col-4">Marcas<i class="bi bi-suit-diamond-fill"></i>
    </a>
    <a class="col-4">Proprietario<i class="bi bi-person-bounding-box"></i></a>
    <a class="col-4">Veiculos<i class="bi bi-truck"></i></a>
</div>